@import "../style/variable";


.Card {
  width: 150px;
  cursor: pointer;
  text-align: center;
  margin: 8px 8px;
  color: $primaryColor;
  &:hover {
    box-shadow: 0 10px 15px $hoverColor;
  }
  .Card__image {
    width: 100%;
    border: 1px solid $primaryColor;
  }
  .Card__title {
    font-size: 14px;
  }
  .Card_price {
    font-size: 13px;
  }
  .Card__btn {
    text-align: left;
  }
}